.sliderContainer {
  height: 100vh;
  background-color: #ffffff;
}

.avatarBox {
  background: white;
  padding: 0.45rem 0.25rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(102, 102, 102, 0.1);
}

.avatarBox img {
  border-radius: 50% !important;
}

.avatarBox .info {
  margin-left: 0.5rem;
}

.avatarBox .info .desc {
  font-size: 0.65rem;
  color: #999999;
}

.logoBox {
  background: #4877e8;
  height: 64px;
  padding: 0 1.5rem;
  line-height: 64px;
  display: flex;
  align-items: center;
  color: white;
}

.logoBox .anticon {
  font-size: 2.2rem;
}

.logoBox span {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}
