.searchBox {
  background-color: #ffffff;
  height: 65.38px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.1);
  border-left: 1px solid rgba(102, 102, 102, 0.1);
  padding: 0 2rem;
}

.searchBox .title {
  color: #999;
  font-size: 1.25rem;
}

.searchBox .searchInput {
  width: 15rem;
  border-radius: 20px;
  color: #333333;
}

.searchBox .searchInput span.anticon-search {
  color: #666;
  font-size: 18px;
}
